<a href="https://colab.research.google.com/github/Iamnyatichi/Intro-to-GIS-Programming/blob/main/Intro_to_GIS_Prog_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [10]:
latitude=40.7128
longitude= -74.0060
population=8336817
area=783.8
population_density=population/area
print(f"The population density of New York City: {population_density} per Square Kilometer")
cordinates= (f"Latitude: {latitude}, Longitude: {longitude}")
print(cordinates)

The population density of New York City: 10636.408522582293 per Square Kilometer
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [28]:
city_name="Nairobi City"
city_lower=city_name.lower()
print(city_lower)
city_upper=city_name.upper()
print(city_upper)
city_replace= city_name.replace("City", "Town")
print(city_replace)

nairobi city
NAIROBI CITY
Nairobi Town

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [64]:
cities=[("New York CIty:", 40.7128, -74.0060), ("Los Angeles:", 34.0522, -118.2437), ("Chicago:", 41.8781, -87.6298)]
cities.append(("Miami:", 25.7617, -80.1918))
print(cities)
print(cities[0:2])

[('New York CIty:', 40.7128, -74.006), ('Los Angeles:', 34.0522, -118.2437), ('Chicago:', 41.8781, -87.6298), ('Miami:', 25.7617, -80.1918)]
[('New York CIty:', 40.7128, -74.006), ('Los Angeles:', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [72]:
eifeel_tower=(48.8584, 2.2945)
print(eifeel_tower)
eifeel_tower[0]= 48.8585
print(eifeel_tower) #Because tuples are immutable, the value cannot be changed to the last assigned

(48.8584, 2.2945)

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [41]:
countries={"Kenya","USA", "Greece","England", "Jamaica", "Jamaica"}
print(countries) #the duplicate country is not printed as sets do not allow duplicates

{'Kenya', 'Jamaica', 'England', 'Greece', 'USA'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [44]:
river={
    "Name": "Amazon River",
    "Lenght": 6400,
    "countries": ["Brazil", "Peru", "Colombia"]
}
river.update({"Discharge":209000})
river.update({"Lenght":6992})
print(river)

{'Name': 'Amazon River', 'Lenght': 6992, 'countries': ['Brazil', 'Peru', 'Colombia'], 'Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [52]:
city={
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates":[35.6895, 139.6917]
}
print(city["Population"])
print(city["Coordinates"][0])
city.update({"Population": 14000000})
print(city)

13515271
35.6895
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': [35.6895, 139.6917]}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [68]:
cities.sort()
print(cities)
new_cities=["Chicago", "Los Angeles", "Miami","New york"]
print(new_cities)
cities.remove(("New York CIty:", 40.7128, -74.0060))
print(cities)

[('Chicago:', 41.8781, -87.6298), ('Los Angeles:', 34.0522, -118.2437), ('Miami:', 25.7617, -80.1918), ('New York CIty:', 40.7128, -74.006)]
['Chicago', 'Los Angeles', 'Miami', 'New york']
[('Chicago:', 41.8781, -87.6298), ('Los Angeles:', 34.0522, -118.2437), ('Miami:', 25.7617, -80.1918)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [69]:
print(river.get("Lenght"))
print(river.keys())
print(river.values())

6992
dict_keys(['Name', 'Lenght', 'countries', 'Discharge'])
dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [75]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
locations_names=["Mount everest", "K2", "Kangchenjunga"]
location_dict={
    "Mount Everest": (27.9881, 86.9250),
    "K2": (35.8808, 76.5155),
    "Kangchenjunga": (27.7025, 88.1475)
}
print(location_dict["K2"][0])

35.8808

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.